*{
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-transform: uppercase;
    margin-bottom: 15px;
}
header{
    text-align: center;
    background-image: url('../img/Fundo-vermelho.jpg');
    padding: 10px 0;
}

h1{
    background-position: center;
    margin: 10px;
    padding: 10px;
}

header h1{
    margin: 0;
    height: 84px;
}
nav{
    text-align: center;
    padding: 15px 0;
}

nav li{
    display: inline;
    background-image: url('../img/caveirapin.png');
    background-repeat: no-repeat;
    background-position: center right;
    margin-right: 10px;
    padding-right: 27px;

}

nav a{
    text-decoration: none;
    color: #000;
}

nav a:hover{
    color: #6dd432;
}





.fundo-verde{
    background-color: #690101;
}

.container{
    width: 900px;
    margin: 0 auto;
    padding: 70px 0;
}

.container h2{
    color: #690101;

}
 .col h1{
    font-weight: bold;
    color: #000;
 }
.col p{
    font-weight: bold;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    
}

.flex-container .col{
    width: 430px;
}

.texto-centralizado{
    text-align: center;
}

.produtos{
    width: 235px;
}

.produtos figure{
    border: 5px solid #690101;
    margin: 0 0 15px 0;
    padding: 0;
    text-align: center;
    height: 160px;
    line-height: 160px;
    background-color: #690101;
    
}

.produtos figure img{
    vertical-align: middle;
    
   
}

.btn-pata{
    border: 1px solid #e46771;
    background-color: #f59fab;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
   

}




